.m-t-10 {
    margin-top: 10px;
}
.error{
    color: red;
}

  /* Style page content */
  .main {
    margin-top: 50px;
    margin-left: 170px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    margin-right:170px;
  }
