.navBar{
    margin-left: 160px;
    height: 50px;
    background-color: blueviolet;
    margin-right: 160px;
}

.navList{
    list-style-type: none;
}

.navItem a{
    float: left;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.navItem a:hover{
   
    color: orange;
}

.navItem a:active{
    font-weight: bold;
}

.logout{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
